<div data-controller="flash" 
     data-flash-alert-value="<%= defined?(alert_message) ? alert_message : '' %>" 
     data-flash-notice-value="<%= defined?(notice_message) ? notice_message : '' %>"
     data-flash-redirect-on-success-value="<%= defined?(redirect_on_success) ? redirect_on_success : false %>">
</div>
