<div class="car_container">
  <div class="car_item"><h1 class="text-2xl" style="font-family: var(--font-system-ui)">Gerenciar veículos</h1></div>
  <div class="car_item"><%= link_to root_path, class: "btn" do %> Atualizar status dos veículos <% end %></div>
</div>

<br>
<% @devices.each.with_index(1) do |device, index| %>
  <%= render 'car', car: device, index: index %>
<% end %>