<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "LOGs" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <h1>Diretórios de Log</h1>
    <ul style="font-size: 1.2rem;">
      <% @directories.each do |dir| %>
        <li><%= link_to dir.capitalize, directory_admin_logs_path(dir) %></li>
      <% end %>
    </ul>
  </div>
</div>
