<div class="container-xl">
  <div class="page-header">
    <%= turbo_stream_from "admin_detail_stream" %>
    <div id="admin_detail_stream_div">
    </div>
    <div class="row align-items-center">
      <%= yield %>
    </div>
  </div>
</div>
