.car_container {
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
}

.car_item {
  flex: 1;
  text-align: center;
  padding: 2px
}

.button-container {
  text-align: right;
}

.align-right {
  display: inline-block;
}