<% if flash[:notice]  %>
  <div role="alert" style="display: block; color: green; font-size: 22px;">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert]  %>
  <div class="flash flash--negative" role="alert" style="display: block; color: red; font-size: 22px;">
    <%= flash[:alert] %>
  </div>
<% end %>